linear regression

In [24]:
import pandas as pd

In [25]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (0.14.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.18 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.25.2)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.11.3)
Requirement already satisfied: pandas>=1.0 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.1.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\student\appdata\roaming\python\python311\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\appdata\roaming\python\python311\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\student\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\student\appdata\roaming\python\python311\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
import scipy.stats

In [27]:
from scipy.stats import linregress

In [28]:
import statsmodels.formula.api as smf

In [29]:
df=pd.read_excel(r"c:\Users\Student\Desktop\WITU COHORT 3\YEAR ONE\SEMITER ONE\Data science\data\dataset.xlsx")
print(df)

     S/N             student_names  age weight   height  addmission
0    1.0            Adokorac Nancy   20     74    177.8           1
1    2.0   Amutuhaire Faith Ahabwe   27     47   157.48           1
2    3.0     KWAGALA JOANNA VICTOR   21     54   185.42           1
3    4.0              mahoro cathy   23     30   185.42           1
4    5.0  Mbabazi Hawa Bint Edrisa   19     59   175.26           1
5    6.0       Nakanjako josephine   24     65   175.26           1
6    7.0            Nanteza Dorcus   21     69   157.48           1
7    8.0             Mbabazi Angel   19     57   167.64           1
8    9.0            Namara Racheal   19     55   154.94           1
9   10.0       Lwamulungi Sheillah   22     78   162.56           1
10   NaN           Nakawuka Sandra   25     60   175.26           1
11   NaN   Achola Gloria Fortunate   27     80   172.72           1
12   NaN             Nagawa Esther   21     58   188.42           1
13   NaN           wanjiku hananny   19     50    165.1           1
14   NaN            babirye Sandra   21     50   175.26           1
15   NaN          nakagga shanitah   21     50   175.26           1
16   NaN    Wembabazi Vivian Ritah   20     49   160.02           1
17   NaN   Nanziri Ritah Namayanja   23     70   162.56           1
18   NaN            Nasejje Mariam   20     62    101.6           1
19   NaN  Namukose Jolline Edriana   20     55   162.56           1
20   NaN      Agatha Faith Anyango   27     55    93.98           1
21   NaN              Kirabo Sarah   23     60    165.1           1
22   NaN          Nansalire Anitah   21     45     63.5           1
23   NaN             Nalugo gladys   19     70    101.6           1
24   NaN            Namakula Allen   20     55   170.18           1
25   NaN           Tukahirwa emily   22     67   175.26           1
26   NaN            Shamirah Ahmed   21     67   137.16           1
27   NaN          Ameso lmmaculate   23     64    165.1           1
28   NaN                Ayoo Teddy   20     50   157.48           1
29   NaN                Biira Mary   30     65   104.14           1
30   NaN        Aloyo Brenda Ojera   23     52   170.18           1
31   NaN        Ayebale Immaculate   24     50   162.56           1

In [30]:
df =df["age"]

In [ ]:
df=pd.read_excel(r"")

In [31]:
df=pd.read_excel(r"c:\Users\Student\Desktop\WITU COHORT 3\YEAR ONE\SEMITER ONE\Data science\data\dataset.xlsx")
print(df)

     S/N             student_names  age weight   height  addmission
0    1.0            Adokorac Nancy   20     74    177.8           1
1    2.0   Amutuhaire Faith Ahabwe   27     47   157.48           1
2    3.0     KWAGALA JOANNA VICTOR   21     54   185.42           1
3    4.0              mahoro cathy   23     30   185.42           1
4    5.0  Mbabazi Hawa Bint Edrisa   19     59   175.26           1
5    6.0       Nakanjako josephine   24     65   175.26           1
6    7.0            Nanteza Dorcus   21     69   157.48           1
7    8.0             Mbabazi Angel   19     57   167.64           1
8    9.0            Namara Racheal   19     55   154.94           1
9   10.0       Lwamulungi Sheillah   22     78   162.56           1
10   NaN           Nakawuka Sandra   25     60   175.26           1
11   NaN   Achola Gloria Fortunate   27     80   172.72           1
12   NaN             Nagawa Esther   21     58   188.42           1
13   NaN           wanjiku hananny   19     50    165.1           1
14   NaN            babirye Sandra   21     50   175.26           1
15   NaN          nakagga shanitah   21     50   175.26           1
16   NaN    Wembabazi Vivian Ritah   20     49   160.02           1
17   NaN   Nanziri Ritah Namayanja   23     70   162.56           1
18   NaN            Nasejje Mariam   20     62    101.6           1
19   NaN  Namukose Jolline Edriana   20     55   162.56           1
20   NaN      Agatha Faith Anyango   27     55    93.98           1
21   NaN              Kirabo Sarah   23     60    165.1           1
22   NaN          Nansalire Anitah   21     45     63.5           1
23   NaN             Nalugo gladys   19     70    101.6           1
24   NaN            Namakula Allen   20     55   170.18           1
25   NaN           Tukahirwa emily   22     67   175.26           1
26   NaN            Shamirah Ahmed   21     67   137.16           1
27   NaN          Ameso lmmaculate   23     64    165.1           1
28   NaN                Ayoo Teddy   20     50   157.48           1
29   NaN                Biira Mary   30     65   104.14           1
30   NaN        Aloyo Brenda Ojera   23     52   170.18           1
31   NaN        Ayebale Immaculate   24     50   162.56           1

In [33]:
from scipy.stats import linregress

In [34]:
height=df["height"]

In [35]:
weight=df["weight"]

In [36]:
result=linregress(height,weight)
print(result)

TypeError: '>=' not supported between instances of 'str' and 'float'